
  {% extends "index.html" %} 
  {% load static %} 
  {% block section %}{% endblock section %}
  {% block content %} 
    <div class="container mx-auto">
	    
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h2 class="title mb-2">{{post.title}}</h2>
				    <div class="meta mb-3"><span class="date">{{post.created}} </span><span class="time">{{post.read_time}} min read</span></div>
			    </header>
			    
				<span><a href="{% url 'home' %}">Back to home page</a></span>
			</div>
		</article>
	</div>

{% endblock content %}