<!DOCTYPE html>
<html lang="en"> 
<head>
	{% load static %}
	{% load crispy_forms_tags %}
    {% block title %}Portolio- Baron Chibuikem {% endblock title %}</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS -->
	<script defer src="{% static 'assets/fontawesome/js/all.min.js' %}"></script>
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/theme-1.css' %}">
	<link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">

</head> 

<body>
    
    <header class="header text-center layout-view">	    
	    <h1 class="blog-name pt-lg-4 mb-0"><a href="index.html">Baron's Blog</a></h1>
        
	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'img/me.jpg' %}" alt="image" >			
					
					<div class="bio mb-3 text-justify"> Hey, nice to meet you I'm Baron. I'm a software developer in love with Python and occassionally in a love and hate relationship
						with Javascript. I love teaching and writing
					</div>
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="https://twitter.com/AwesomeBaron" target="__blank"><i class="fab fa-twitter fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://linkedin.com/in/anozie-u-chibuikem" target="__blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://github.com/Baronchibuikem" target="__blank"><i class="fab fa-github-alt fa-fw"></i></a></li>
			           <li class="list-inline-item"><a href="https://www.baronchibuike.medium.com" target="__blank"><i class="fab fa-medium fa-fw"></i></a></li>
			            <!--  <li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li> -->
			        </ul><!--//social-list-->
			        <hr> 
				</div>
				
				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item">
					    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home fa-fw mr-2"></i>Blog Home <span class="sr-only">(current)</span></a>
					</li>
					<!-- <li class="nav-item">
					    <a class="nav-link" href="blog-post.html"><i class="fas fa-bookmark fa-fw mr-2"></i>Blog Post</a>
					</li> -->
					<li class="nav-item">
					    <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
					</li>
				</ul>
				
				<div class="my-2 my-md-3">
				    <a class="btn btn-primary" href="https://themes.3rdwavemedia.com/" target="_blank">Get in Touch</a>
				</div>
			</div>
		</nav>
    </header>
    
    <div class="main-wrapper">
		{% block section %}
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">BaronBlog - A Blog managed by Baron</h2>
			    <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
			    <form method="POST" class="signup-form form-inline justify-content-center pt-3">
					{% csrf_token %}
            			{{ subscribe_form|crispy }}
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
				{% if messages %}
					{% for message in messages %}
						<u><h6 class="my-3">
							{{ message }}
						</h6></u>
					{% endfor %}
				</ul>
			{% endif %}
		    </div>
			
	    </section>
		{% endblock section %}


		<div class="layout-view-index">
		{% block content %}
	    {% include "blog-list.html" with posts=posts %}
		{% endblock content %}
	    </div>
	    <footer class="footer text-center py-2 theme-bg-dark">
		   
	        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Anozie Baron Chibuikem</a> </small>
		   
	    </footer>
    
    </div><!--//main-wrapper-->
    
    
       
    <!-- Javascript -->          
    <script src="{% static 'assets/plugins/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/plugins/popper.min.js' %}"></script> 
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script> 

    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="{% static 'assets/js/demo/style-switcher.js' %}"></script>     
    

</body>
</html> 

